---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <head>
    <title>David Silva</title>
  </head>
  <body>
    <main>
      <Hero />
    </main>
  </body>
</BaseLayout>
