---
import { Icon } from "astro-icon/components";
---

<footer class="py-10 bg-gray-100">
  <div class="text-center font-poppins">
    <h2 class="font-bold text-4xl text-[#45505b]">David Silva</h2>
    <p class="mt-1">© 2024 David Silva. All rights reserved.</p>
    <div
      class="text-3xl flex flex-row space-x-8 mt-3 justify-center text-[#0678e3]"
    >
      <a
        href="https://github.com/Daverhan"
        target="_blank"
        title="David Silva's GitHub"
        aria-label="GitHub Icon"
        class="hover:text-[#0563bb]"><Icon name="github" /></a
      >
      <a
        href="https://www.linkedin.com/in/david-anthony-silva/"
        target="_blank"
        title="David Silva's LinkedIn"
        aria-label="LinkedIn Icon"
        class="hover:text-[#0563bb]"
        ><Icon name="linkedin" />
      </a>
    </div>
  </div>
</footer>
