---
import Card from "../components/Card.astro";
---

<section
  class="mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-2xl"
>
  <div class="mt-10 text-center text-[#45505b] font-poppins">
    <h2 class="text-4xl font-raleway font-bold">PROJECTS</h2>
    <hr
      class="mx-auto mt-1 w-36 h-0.5 border-t-0 bg-blue-700 opacity-100 dark:opacity-50"
    />
    <div class="lg:grid grid-cols-3 mt-8 mx-4 md:mx-0">
      <Card
        title="Fingerprint Attendance System"
        description="An embedded attendance system for real-time user verification and management"
        technologies="Arduino, Flask, MySQL"
        link="https://github.com/Daverhan/fingerprint-attendance-system"
      />
      <Card
        title="Where's Lunch?"
        description="A web application to help a group of friends decide on where to eat for lunch"
        technologies="Next.js, TypeScript, Redis"
        link="https://github.com/Daverhan/wheres-lunch-web-app"
      />
      <Card
        title="DoorHinge"
        description="A web application that allows users to seek for a desired property posted by listers"
        technologies="React, TypeScript, Flask, MySQL"
        link="https://github.com/Daverhan/door-hinge-web-app"
      />
      <Card
        title="Elevator Kernel Module"
        description="A Linux Kernel Module that simulates an Elevator"
        technologies="C, Linux Kernel"
        link="https://github.com/Daverhan/elevator-kernel-module"
      />
      <Card
        title="Personal Portfolio Website"
        description="A web application that features my personal portfolio"
        technologies="Astro, TypeScript"
        link="https://github.com/Daverhan/david-silva-portfolio"
      />
      <Card
        title="Practice Management App"
        description="A desktop application for managing clients, projects, employees, and time entries"
        technologies="C#, .NET MAUI"
        link="https://github.com/Daverhan/practice-management-app"
      />
    </div>
  </div>
</section>
